In [27]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [28]:
actionmatrix = pd.read_excel(r"C:\Users\CEN1\OneDrive - U.S. NRC\CEN1\GAData\actionmatrixraw.xlsx", index_col=0)

In [29]:
actionmatrix.head()

      Quarter  DocketNum                Name  AM Column
Index
1      2002Q1    5000313  Arkansas Nuclear 1          1
2      2002Q2    5000313  Arkansas Nuclear 1          1
3      2002Q3    5000313  Arkansas Nuclear 1          1
4      2002Q4    5000313  Arkansas Nuclear 1          1
5      2003Q1    5000313  Arkansas Nuclear 1          1

In [30]:
actionmatrix.tail()

      Quarter  DocketNum          Name  AM Column
Index
7536   2019Q2    5000482  Wolf Creek 1          1
7537   2019Q3    5000482  Wolf Creek 1          1
7538   2019Q4    5000482  Wolf Creek 1          1
7539   2020Q1    5000482  Wolf Creek 1          1
7540   2020Q2    5000482  Wolf Creek 1          1

In [31]:
actionmatrix.dtypes

Quarter      object
DocketNum     int64
Name         object
AM Column     int64
dtype: object

In [32]:
am = actionmatrix.loc[actionmatrix['Quarter'] >= '2002Q1']

In [33]:
am.head()

      Quarter  DocketNum                Name  AM Column
Index
1      2002Q1    5000313  Arkansas Nuclear 1          1
2      2002Q2    5000313  Arkansas Nuclear 1          1
3      2002Q3    5000313  Arkansas Nuclear 1          1
4      2002Q4    5000313  Arkansas Nuclear 1          1
5      2003Q1    5000313  Arkansas Nuclear 1          1

In [34]:
am['Name'].unique()

array(['Arkansas Nuclear 1', 'Arkansas Nuclear 2', 'Beaver Valley 1',
       'Beaver Valley 2', 'Braidwood 1', 'Braidwood 2', 'Browns Ferry 1',
       'Browns Ferry 2', 'Browns Ferry 3', 'Brunswick 1', 'Brunswick 2',
       'Byron 1', 'Byron 2', 'Callaway', 'Calvert Cliffs 1',
       'Calvert Cliffs 2', 'Catawba 1', 'Catawba 2', 'Clinton',
       'Columbia Generating Station', 'Comanche Peak 1',
       'Comanche Peak 2', 'Cooper', 'Crystal River 3', 'D.C. Cook 1',
       'D.C. Cook 2', 'Davis-Besse', 'Diablo Canyon 1', 'Diablo Canyon 2',
       'Dresden 2', 'Dresden 3', 'Duane Arnold', 'Farley 1', 'Farley 2',
       'Fermi 2', 'FitzPatrick', 'Fort Calhoun', 'Ginna', 'Grand Gulf 1',
       'Harris 1', 'Hatch 1', 'Hatch 2', 'Hope Creek 1', 'Indian Point 2',
       'Indian Point 3', 'Kewaunee', 'LaSalle 1', 'LaSalle 2',
       'Limerick 1', 'Limerick 2', 'McGuire 1', 'McGuire 2',
       'Millstone 2', 'Millstone 3', 'Monticello', 'Nine Mile Point 1',
       'Nine Mile Point 2', 'North Anna 1', 'North Anna 2', 'Oconee 1',
       'Oconee 2', 'Oconee 3', 'Oyster Creek', 'Palisades',
       'Palo Verde 1', 'Palo Verde 2', 'Palo Verde 3', 'Peach Bottom 2',
       'Peach Bottom 3', 'Perry 1', 'Pilgrim 1', 'Point Beach 1',
       'Point Beach 2', 'Prairie Island 1', 'Prairie Island 2',
       'Quad Cities 1', 'Quad Cities 2', 'River Bend 1', 'Robinson 2',
       'Saint Lucie 1', 'Saint Lucie 2', 'Salem 1', 'Salem 2',
       'San Onofre 2', 'San Onofre 3', 'Seabrook 1', 'Sequoyah 1',
       'Sequoyah 2', 'South Texas 1', 'South Texas 2', 'Summer',
       'Surry 1', 'Surry 2', 'Susquehanna 1', 'Susquehanna 2',
       'Three Mile Island 1', 'Turkey Point 3', 'Turkey Point 4',
       'Vermont Yankee', 'Vogtle 1', 'Vogtle 2', 'Waterford 3',
       'Watts Bar 1', 'Watts Bar 2', 'Wolf Creek 1'], dtype=object)

In [35]:
#looks good! it's a keeper
am.to_excel('ActionMatrixdata.xlsx')